:root{
  --cube-size: 200px;
}

*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background:black;
  perspective: 350px;
}

.cube{
  perspective: none;
  perspective-origin: 50% 50%;
  width: var(--cube-size);
  height: var(--cube-size);
  position: relative;
  animation: rotateCube 16s infinite linear;
  transform-style: preserve-3d;
}

@keyframes rotateCube{
  0%{
    transform: rotateX(-45deg) rotateY(0deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(315deg) rotateY(1440deg) rotateZ(1080deg);
  }
}

.front,.left,.back,.right,.top,.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, orange, yellow, lime, green, blue, purple, magenta);
  box-shadow: inset 0 0 15px 0 #000a;
}

.top, .bottom{
  background-image: radial-gradient(magenta, purple, blue, green, lime, yellow, orange, red);
}

.front{
  transform: translateZ(calc(var(--cube-size) / 2));
}

.left{
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
}

.back{
  transform: rotateY(-180deg) translateZ(calc(var(--cube-size) / 2));
}

.right{
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
}

.top{
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2))
}

.bottom{
  transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2))
}